.wrapper {
  width: 100%;
  height: 50px;
  padding: 0;
  margin: 0;
  border-top: 1px solid var(--border-color);
  background-color: var(--header-color);
}

p {
  font-weight: 400;
  margin: 0;
  padding: 15px 0;
  font-size: 0.9rem;
  color: var(--text-color);
}
