/* Tema claro */
:root {
  --background-color: #ffffff;
  --text-color: #252525;
  --text-color-inverted: #ffffff;
  --border-color: rgb(217, 217, 217);
  --header-color: #d7e3ff;
  --drawer-color: rgb(239, 244, 255);
  --toolbar-color: #e1eaff;
  --hover-button-color: #d7e3ff;
  --button-color: #d7e3ff;
  --card-text-color: #44474e;
  --disabled-button-text-color: rgba(26, 27, 31, 0.38);
  /* Otros estilos específicos para el tema claro */
}

/* Tema oscuro */
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #252525;
    --text-color: #ffffff;
    --text-color-inverted: #252525;
    --border-color: rgb(120, 120, 120);
    --header-color: rgb(45, 54, 64);
    --drawer-color: #313131;
    --toolbar-color: rgb(67, 80, 96);
    --hover-button-color: rgb(54, 65, 77);
    --button-color: rgb(50, 60, 71);
    --card-text-color: #ced3dd;
    --disabled-button-text-color: rgb(120, 120, 120);
    /* Otros estilos específicos para el tema oscuro */
  }
}

/*--drawer-color: rgb(45, 54, 64); */
