<h1 mat-dialog-title class="dialog-title">Detalles del Análisis</h1>
<div mat-dialog-content class="dialog-content">
  <app-horse-data
    [horse]="analysisData.horse"
    (notifyMustRefresh)="notifyRefresh()"
  ></app-horse-data>
  <mat-card class="info-card">
    <mat-card-header>
      <mat-card-title>Detalles de la predicción</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="prediction-result">
        <mat-icon>{{
          getPredictionIcon(analysisData.predictionDetail.prediction)
        }}</mat-icon>
        <span>{{ analysisData.predictionDetail.prediction }}</span>
      </div>
        <div class="prediction-tag">
          <strong>Etiqueta más frecuente:</strong> {{ largestList }}
        </div>
      <div class="prediction-details">
        <div class="prediction-item">
          <strong>Sereno:</strong>
          {{ (analysisData.predictionDetail!.sereno * 100).toFixed(1) }}%
        </div>
        <div class="prediction-item">
          <strong>Interesado:</strong>
          {{ (analysisData.predictionDetail!.interesado * 100).toFixed(1) }}%
        </div>
        <div class="prediction-item">
          <strong>Disgustado:</strong>
          {{ (analysisData.predictionDetail!.disgustado * 100).toFixed(1) }}%
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="observations-card">
    <mat-card-header class="mb-2">
      <mat-card-title>Observaciones generales</mat-card-title>
      <button
        mat-icon-button
        class="edit-button"
        aria-label="Editar detalles observaciones del análisis"
        (click)="toggleEditObservations()"
      >
        <mat-icon *ngIf="!isEditingObservations; else check">edit</mat-icon>
        <ng-template #check>
          <mat-icon>check</mat-icon>
        </ng-template>
      </button>
    </mat-card-header>
    <mat-card-content>
      <ng-container *ngIf="!isEditingObservations">
        <p>{{ analysisData.observations }}</p>
      </ng-container>
      <form [formGroup]="observationsForm" *ngIf="isEditingObservations">
        <mat-form-field
          appearance="fill"
          class="full-width"
          aria-label="Editar observaciones"
        >
          <textarea matInput formControlName="observations" rows="3"></textarea>
        </mat-form-field>
      </form>
    </mat-card-content>
  </mat-card>
</div>
<div mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cerrar</button>
</div>
