<mat-nav-list>
  <h4 mat-subheader class="mt-2">Navegación</h4>
  <mat-list-item (click)="setNavigationWindow('imageGrid')">
    <mat-icon class="me-2">folder</mat-icon>
    <span>Todos los análisis</span>
  </mat-list-item>
  <mat-list-item (click)="setNavigationWindow('horseGrid')">
    <mat-icon class="me-2">house</mat-icon>
    <span>Establo</span>
  </mat-list-item>
  <mat-list-item (click)="setNavigationWindow('newAnalysis')">
    <mat-icon class="me-2">add</mat-icon>
    <span>Nuevo análisis</span>
  </mat-list-item>
  <h6 mat-subheader class="mt-2">Biblioteca</h6>
  <mat-list-item>
    <mat-icon class="me-2">insert_photo</mat-icon>
    <span>Unsplash</span>
  </mat-list-item>
  <mat-list-item>
    <mat-icon class="me-2">collections</mat-icon>
    <span>Icons8</span>
  </mat-list-item>
  <mat-list-item>
    <mat-icon class="me-2">language</mat-icon>
    <span>Brand logos</span>
  </mat-list-item>
  <mat-list-item>
    <mat-icon class="me-2">gif</mat-icon>
    <span>GIPHY</span>
  </mat-list-item>
  <button mat-button (click)="logout()" class="logout-button">
    <mat-icon>logout</mat-icon>
    <span class="logout-button-text">Cerrar sesión</span>
  </button>
</mat-nav-list>
