mat-nav-list {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.mat-icon {
    font-size: 24px;
    vertical-align: bottom;
    color: var(--text-color);
}

span {
    color: var(--text-color);
}

.logout-button {
    margin-top: auto;
    color: white;
    background-color: var(--header-color);
}

.logout-button:hover {
    background-color: var(--hover-button-color);
    color: white;
}

.logout-button mat-icon {
    color: white;
}

.logout-button-text {
    color: white;
}