<div class="home-container">
  <app-header></app-header>
  <mat-sidenav-container class="home-sidenav-container">
    <mat-sidenav
      #sidenav
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [opened]="opened"
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56"
    >
      <app-sidebar
        (navigationChange)="setNavigationWindow($event)"
      ></app-sidebar>
    </mat-sidenav>

    <mat-sidenav-content>
      <mat-toolbar
        class="home-toolbar"
        [hidden]="mobileQuery.matches ? false : true"
      >
        <button #menubutton mat-fab extended (click)="toggleSidenav()">
          <mat-icon>menu</mat-icon>
          <span>Menu</span>
        </button>
      </mat-toolbar>
      <app-image-grid
        *ngIf="navigationWindow === 'imageGrid'"
        class="grids"
      ></app-image-grid>
      <app-horse-grid
        *ngIf="navigationWindow === 'horseGrid'"
        class="grids"
      ></app-horse-grid>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <app-footer></app-footer>
</div>
